{% if include.post %}

{% for author in site.authors %}
{% if author.id == include.post.author %}
{% assign postAuthor = author %}
{% break %}
{% endif %}
{% endfor %}

<article class="post">
    <header>
        <div class="title">
            {% if include.isLatest %}
            <h2><a href="{{ include.post.url  | relative_url }}">
                    <i class="icon fa-bolt"></i>{{include.post.title}}
                </a>
            </h2>
            {% else %}
            <h2><a href="{{ include.post.url  | relative_url }}">{{include.post.title}}</a></h2>
            {% endif %}
            <p>{{include.post.description}}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{include.post.date}}">{{ include.post.date | date: '%B %d, %Y' }}</time>
            <a href="{{ include.post.url  | relative_url }}" class="author"><span
                    class="name">{{postAuthor.name}}</span><img src="{{ postAuthor.photo | relative_url }}"
                    alt="" /></a>
        </div>
    </header>
    <a href="#" class="image featured"><img src="{{ site.baseurl }}/{{ include.post.image }}" alt="" /></a>
    <p>{{include.post.preview-content}}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{ include.post.url  | relative_url }}" class="button big">Ir al post</a></li>
        </ul>
        <!-- <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul> -->
    </footer>
</article>
{% else %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">Euismod et accumsan</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-10-22">October 22, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
    </header>
    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
        placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non
        congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta
        lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra,
        ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
    <footer>
        <ul class="actions">
            <li><a href="#" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>

{% endif %}
