<section class="blurb">
    <h2>Acerca de mí</h2>
    <p>
        Soy un desarrollador full-stack especializado en tecnologías Microsoft, aunque últimamente enfocado en
        desarrollo para wearables.
    </p>
    <p>
        Creé este blog para escribir acerca de desarrollo de software, mejores prácticas, frameworks, lenguajes, y otros
        temas relacionados en español.
    </p>
    <ul class="actions">
        <li><a href="rckstr.html" class="button">Ver más</a></li>
    </ul>
</section>
