<section>
    <div class="mini-posts">
        {% for post in site.posts limit:include.length %}

        {% for author in site.authors %}
        {% if author.id == post.author %}
        {% assign postAuthor = author %}
        {% break %}
        {% endif %}
        {% endfor %}

        <!-- Mini Post -->
        <article class="mini-post">
            <header>
                <h3><a href="{{ post.url  | relative_url }}">{{post.title}}</a></h3>
                <time class="published" datetime="{{ post.date }}">{{ post.date | date: '%B %d, %Y' }}</time>
                <a href="{{ post.url  | relative_url }}" class="author"><img src="{{postAuthor.photo | relative_url}}"
                        alt="" /></a>
            </header>
            <a href="{{ post.url  | relative_url }}" class="image"><img src="{{post.image}}" alt="" /></a>
        </article>
        {% else %}
        <article class="mini-post">
            <header>
                <h3>Ningún post todavía.</h3>
            </header>
        </article>
        {% endfor %}





        <!-- Mini Post -->
        <!-- <article class="mini-post">
            <header>
                <h3><a href="#">Rutrum neque accumsan</a></h3>
                <time class="published" datetime="2015-10-19">October 19, 2015</time>
                <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
            </header>
            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
        </article> -->

        <!-- Mini Post -->
        <!-- <article class="mini-post">
            <header>
                <h3><a href="#">Odio congue mattis</a></h3>
                <time class="published" datetime="2015-10-18">October 18, 2015</time>
                <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
            </header>
            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
        </article> -->

        <!-- Mini Post -->
        <!-- <article class="mini-post">
            <header>
                <h3><a href="#">Enim nisl veroeros</a></h3>
                <time class="published" datetime="2015-10-17">October 17, 2015</time>
                <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
            </header>
            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
        </article> -->

    </div>
</section>
